h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.div-thay-doi-text {
  background-color: antiquewhite;
  padding: 30px;
  border-radius: 10px;
}
.div-thay-doi-text h3 {
  color: darkred;
  font-weight: 600;
  text-transform: uppercase;
}

span {
  border-radius: 4px;
  background-color: burlywood;
}
